:root {
    --brand-color: #2196F3;
    --light-font-color: #757575;
    --dark-font-color: #212121;
    --bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
}
body {
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    color: var(--dark-font-color);
}
li {
    list-style: none;
}
.second-title {

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
ol {
    padding-left: 0;
    margin: 0;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center {
    display: flex;
    align-items: center;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/*//////////////////// header ///////////////////////*/
.header {
    padding-top: 25px;
    padding-bottom: 25px;
}
.header-portfolio {
    border-bottom: 1px solid #ECECEC;
}
.logo {
    font-family: Raleway, sans-serif;
    color: var(--brand-color);
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.logo>span {
    color: var(--dark-font-color);
}

.navigation-list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 93px;
}
.navigation-item:not(:last-child) {
    margin-right: 50px;
}


.navigation-list .navigation-link {
    text-decoration: none;
    color: #212121;
}
.navigation-link.active {
    color: var(--brand-color);
}
.navigation-list .navigation-link:hover,
.navigation-list .navigation-link:focus {
    color: var(--brand-color)
}
.connection .connection-link {
    color: var(--light-font-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.connection-link + .connection-link {
    margin-left: 50px;
}
.connection .connection-link:hover,
.connection .connection-link:focus {
    color: var(--brand-color);
}

/*//////////////// index - styles /////////////////////*/
/* hero */
.hero {
    background-color: var(--footer-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    
}
.hero .title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    padding-left: 237px;
    padding-right: 237px;
}
.hero .hero-button {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: var(--brand-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    
}
/* benefits */
.benefits {
    background-color: #ffffff;
    
}
.benefits h2 {
    display: none;

}
.benefits .benefits-item {
    width: 270px;
}
.benefits-item:not(:last-child) {
    margin-right: 30px;
}
.benefits .benefits-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.benefits .benefits-descr {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--light-font-color);
}
/* specifics */
.specifics {
    padding-bottom: 94px;
}
.specifics .specifics-item {
    list-style: none;
}
.specifics .specifics-title {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
}
/* team */
.team {
    background-color: var(--bg-color);
}
.team-item {
    padding-bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-img {
    margin-bottom: 30px;
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team-descr {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-font-color);
}

/*////////////// portfolio ///////////////////*/

.works-button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-font-color);
    border: none;
    height: 38px;
    cursor: pointer;
    background-color: var(--bg-color);
    border-radius: 5px;
}
.works-button:hover,
.works-button:focus {
    background-color: var(--brand-color);
    color: #ffffff;
}
.works-tabs {
    margin-bottom: 50px;
    justify-content: center;
}
.works-tab:not(:last-child) {
    margin-right: 8px;
}
.works-list {
    flex-wrap: wrap;
    display: flex;
    margin-left: -30px;
    margin-bottom: -20px;
    
}
.item-content {
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
    padding-bottom: 20px;
    padding-top: 20px;
}
.works-item {
    position: relative;
    padding-bottom: 20px;
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
}
.works-title {
    color: var(--dark-font-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    padding-left: 24px;
}
.works-link {
    text-decoration: none;
}
.works-type {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--light-font-color);
    padding-left: 24px;
}
.works .hidden {
    display: none;
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
}

/*//////////////////////// footer ///////////////////////////*/
.footer {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
    margin-bottom: 9px;
    margin-top: 20px;
}
.footer span {
    color: #ffffff;
}
.footer .footer-link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.footer-link-mail {
    margin-bottom: 9px;
}
